@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
/* CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "DM Sans", sans-serif;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0 20px 20px 20px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: 0 4vw 2vh 4vw;
  font-family: "DM Sans", sans-serif;
  color: #901C1C;
}
header .header__logo {
  height: 50px;
}
header .header__title {
  font-weight: 400;
  font-size: 36px;
  white-space: nowrap;
  justify-self: flex-end;
}
header .header__keywords {
  display: flex;
  justify-content: center;
  line-height: 40px;
  margin: 0 4vw 0 4vw;
  flex-wrap: wrap;
}
header .header__keywords span {
  margin: 2.5px;
  padding: 2px 5px 2px 5px;
  line-height: 30px;
  font-size: 12px;
  border-radius: 20px;
  font-weight: 700;
  color: #901C1C;
  border: solid 2px #C4C4C4;
  background-color: white;
}

@media (max-width: 1050px) {
  .header__keywords-wrapper {
    position: absolute;
    bottom: -30px;
    width: 100%;
    margin: auto;
  }

  header .header__keywords {
    position: absolute;
    top: -40px;
    left: 50%;
    width: 100%;
    margin: auto;
    transform: translateX(-50%);
  }

  .page-wrapper .photographers .photographers__list {
    margin: 50px auto 0 auto;
  }
}
@media (max-width: 750px) {
  .page-wrapper .photographers .photographers__list {
    margin: 85px auto 0 auto;
  }
  .page-wrapper .photographers .photographers__list .photographers__profil-preview {
    width: 100%;
    height: auto;
  }

  .profil__pic {
    height: 25vh;
    width: 25vh;
  }

  header .header__keywords {
    position: absolute;
    top: 0;
    width: 110%;
    margin: auto;
    transform: translate(-50%, -50%);
  }

  header .header__title {
    font-size: 4vw;
  }

  header .header__logo {
    height: 7vw;
    max-height: 50px;
  }
}
.photographers .photographers__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 1500px;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
}
.photographers .photographers__list .photographers__profil-preview {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-out;
  align-items: center;
  margin: 0.5vw 3vw 0.5vw 3vw;
  width: 300px;
  height: 380px;
  font-family: DM Sans, sans-serif;
}
.photographers .photographers__profil-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profil__pic {
  border-radius: 100%;
  flex-shrink: 0;
  height: 175px;
  width: 175px;
  box-shadow: 2px 8px 10px -1px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.profil__name {
  margin: 20px 0 10px 0;
  text-align: center;
  white-space: nowrap;
  font-weight: 400;
  font-size: 36px;
  margin-top: 20px;
  color: #D3573C;
}

.profil__location {
  font-size: 13px;
  line-height: 20px;
  color: #901C1C;
}

.profil__bio {
  font-size: 10px;
  line-height: 20px;
}

.profil__tjm {
  font-size: 9px;
  line-height: 20px;
  color: #525252;
}

.profil__tags {
  display: flex;
  justify-content: center;
  line-height: 40px;
  margin: 0 4vw 0 4vw;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.profil__tags span {
  margin: 2.5px;
  padding: 2px 5px 2px 5px;
  line-height: 30px;
  font-size: 12px;
  border-radius: 20px;
  font-weight: 700;
  color: #901C1C;
  border: solid 2px #C4C4C4;
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
