@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
/* CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "DM Sans", sans-serif;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0 20px 20px 20px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

#selected {
  color: white;
  border-color: #901C1C;
  background-color: #901C1C;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: 0 4vw 2vh 4vw;
  font-family: "DM Sans", sans-serif;
  color: #901C1C;
}
header .header__logo {
  height: 50px;
}
header .header__title {
  font-weight: 400;
  font-size: 36px;
  white-space: nowrap;
  justify-self: flex-end;
}
header .header__keywords {
  display: flex;
  justify-content: center;
  line-height: 40px;
  margin: 0 4vw 0 4vw;
  flex-wrap: wrap;
  transition: all 0.5s ease-out;
}
header .header__keywords span {
  margin: 2.5px;
  padding: 2px 5px 2px 5px;
  line-height: 30px;
  font-size: 12px;
  border-radius: 20px;
  font-weight: 700;
  color: #901C1C;
  border: solid 2px #C4C4C4;
  background-color: white;
}
header .header__keywords span:hover {
  border-color: #901C1C;
}

@media (max-width: 1050px) {
  .header__keywords-wrapper {
    position: absolute;
    bottom: -30px;
    width: 100%;
    margin: auto;
  }

  header .header__keywords {
    position: absolute;
    top: -40px;
    left: 50%;
    width: 100%;
    margin: auto;
    transform: translateX(-50%);
  }

  .page-wrapper .photographers .photographers__list {
    margin: 50px auto 0 auto;
  }
}
@media (max-width: 750px) {
  .page-wrapper .photographers .photographers__list {
    margin: 85px auto 0 auto;
  }
  .page-wrapper .photographers .photographers__list .photographers__profil-preview {
    width: 100%;
    height: auto;
  }

  .profil__pic {
    height: 25vh;
    width: 25vh;
  }

  header .header__keywords {
    position: absolute;
    top: 0;
    width: 110%;
    margin: auto;
    transform: translate(-50%, -50%);
  }

  header .header__title {
    font-size: 4vw;
  }

  header .header__logo {
    height: 7vw;
    max-height: 50px;
  }
}
.photographers .photographers__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 1500px;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
}
.photographers .photographers__list .photographers__profil-preview {
  animation-delay: 0.4s;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-out;
  align-items: center;
  margin: 0.5vw 3vw 0.5vw 3vw;
  width: 300px;
  height: 380px;
  font-family: DM Sans, sans-serif;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(1) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 0s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(2) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 0.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(3) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 0.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(4) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 1.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(5) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 1.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(6) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(7) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 2.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(8) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 2.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(9) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 3.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(10) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 3.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(11) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(12) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 4.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(13) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 4.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(14) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 5.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(15) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 5.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(16) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(17) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 6.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(18) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 6.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(19) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 7.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(20) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 7.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(21) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(22) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 8.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(23) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 8.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(24) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 9.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(25) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 9.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(26) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 10s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(27) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 10.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(28) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 10.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(29) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 11.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(30) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 11.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(31) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 12s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(32) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 12.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(33) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 12.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(34) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 13.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(35) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 13.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(36) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 14s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(37) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 14.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(38) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 14.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(39) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 15.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(40) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 15.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(41) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 16s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(42) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 16.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(43) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 16.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(44) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 17.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(45) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 17.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(46) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 18s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(47) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 18.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(48) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 18.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(49) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 19.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(50) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 19.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(51) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 20s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(52) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 20.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(53) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 20.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(54) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 21.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(55) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 21.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(56) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 22s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(57) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 22.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(58) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 22.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(59) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 23.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(60) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 23.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(61) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 24s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(62) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 24.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(63) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 24.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(64) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 25.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(65) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 25.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(66) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 26s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(67) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 26.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(68) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 26.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(69) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 27.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(70) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 27.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(71) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 28s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(72) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 28.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(73) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 28.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(74) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 29.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(75) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 29.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(76) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 30s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(77) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 30.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(78) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 30.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(79) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 31.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(80) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 31.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(81) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 32s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(82) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 32.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(83) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 32.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(84) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 33.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(85) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 33.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(86) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 34s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(87) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 34.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(88) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 34.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(89) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 35.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(90) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 35.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(91) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 36s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(92) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 36.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(93) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 36.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(94) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 37.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(95) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 37.6s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(96) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 38s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(97) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 38.4s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(98) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 38.8s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(99) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 39.2s backwards;
}
.photographers .photographers__list .photographers__profil-preview:nth-child(100) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 39.6s backwards;
}
@keyframes staggerAnimation {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link {
  animation-delay: 1s;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(1) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 0s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(2) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 1s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(3) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 2s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(4) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 3s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(5) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 4s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(6) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 5s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(7) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 6s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(8) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 7s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(9) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 8s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(10) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 9s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(11) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 10s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(12) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 11s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(13) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 12s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(14) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 13s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(15) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 14s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(16) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 15s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(17) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 16s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(18) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 17s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(19) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 18s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(20) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 19s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(21) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 20s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(22) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 21s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(23) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 22s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(24) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 23s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(25) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 24s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(26) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 25s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(27) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 26s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(28) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 27s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(29) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 28s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(30) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 29s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(31) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 30s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(32) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 31s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(33) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 32s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(34) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 33s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(35) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 34s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(36) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 35s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(37) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 36s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(38) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 37s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(39) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 38s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(40) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 39s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(41) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 40s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(42) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 41s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(43) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 42s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(44) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 43s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(45) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 44s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(46) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 45s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(47) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 46s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(48) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 47s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(49) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 48s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(50) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 49s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(51) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 50s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(52) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 51s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(53) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 52s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(54) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 53s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(55) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 54s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(56) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 55s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(57) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 56s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(58) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 57s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(59) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 58s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(60) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 59s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(61) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 60s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(62) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 61s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(63) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 62s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(64) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 63s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(65) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 64s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(66) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 65s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(67) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 66s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(68) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 67s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(69) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 68s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(70) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 69s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(71) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 70s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(72) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 71s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(73) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 72s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(74) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 73s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(75) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 74s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(76) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 75s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(77) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 76s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(78) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 77s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(79) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 78s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(80) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 79s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(81) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 80s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(82) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 81s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(83) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 82s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(84) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 83s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(85) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 84s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(86) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 85s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(87) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 86s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(88) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 87s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(89) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 88s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(90) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 89s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(91) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 90s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(92) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 91s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(93) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 92s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(94) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 93s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(95) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 94s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(96) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 95s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(97) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 96s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(98) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 97s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(99) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 98s backwards;
}
.photographers .photographers__list .photographers__profil-preview .photographers__profil-link:nth-child(100) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 99s backwards;
}
@keyframes staggerAnimation {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
.photographers .photographers__profil-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photographers span {
  overflow: hidden;
}

.profil__pic {
  border-radius: 100%;
  flex-shrink: 0;
  height: 175px;
  width: 175px;
  box-shadow: 2px 8px 10px -1px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.profil__name {
  margin: 20px 0 10px 0;
  text-align: center;
  white-space: nowrap;
  font-weight: 400;
  font-size: 36px;
  margin-top: 20px;
  color: #D3573C;
}

.profil__location {
  font-size: 13px;
  line-height: 20px;
  color: #901C1C;
}

.profil__bio {
  font-size: 10px;
  line-height: 20px;
}

.profil__tjm {
  font-size: 9px;
  line-height: 20px;
  color: #525252;
}

.profil__tags {
  display: flex;
  justify-content: center;
  line-height: 40px;
  margin: 0 4vw 0 4vw;
  flex-wrap: wrap;
  transition: all 0.5s ease-out;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.profil__tags span {
  margin: 2.5px;
  padding: 2px 5px 2px 5px;
  line-height: 30px;
  font-size: 12px;
  border-radius: 20px;
  font-weight: 700;
  color: #901C1C;
  border: solid 2px #C4C4C4;
  background-color: white;
}
.profil__tags span:hover {
  border-color: #901C1C;
}

#selected {
  color: white;
  border-color: #901C1C;
  background-color: #901C1C;
}

/*# sourceMappingURL=style.css.map */
