@mixin modal-buttons($color){
    border: none;
    z-index: 101;
    cursor: pointer;
    color: $color;
    background-color: unset;
}

@mixin profil-bt{
    transition: all 0.1s ease-in;
    padding: 0 10px 0 10px;
    height: 50px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: white;
    background-color: $primaryColor;

    &:hover{
        color: black;
        background-color: $secondaryColor;
    }
}
@mixin likeBt {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    .like{
        color: $primaryColor;
    }
    .like-switch{
        position: absolute;
        height: 100%;
        z-index: 1;
        width: 100%;
        opacity: 0.0;
        //visibility: hidden; // is Disabling toggle //
        &:checked ~ .like{
            font-weight: 600;
            animation: heartbeat 1s;
        }
        &:not(:checked) ~ .like{
            font-weight: 400;
            color:black;
        }
    } 
}
