.contact-modal{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 500px;//clamp(500px, 50%, 600px);
    height: clamp(400px, 80%, 900px);
    font-size: 3rem;
    font-weight: 100;
    padding: 30px;
    background-color: $secondaryColor;

    #close-bt{
        position: absolute;
        right: 5px;
        top: 5px;
    }

    h2{
        font-weight: 100;
        width: 80%;
    }
}