$itemHeight : 40px;

.dropdown-wrapper{
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 230px;
    height: 50px;

    .dropdown{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: space-between;

        overflow: hidden;
        z-index: 5;
        height: 40px;
        padding: 5px;
        border-radius: 10px;
        border: none;
        height: $itemHeight;
        width: 100%;
        //cursor: pointer;
        transition: .2s;
        background-color: $primaryColor;

        li{
            display: flex;
            align-items: center;
            transition: all 1s;
        }
    }

    span{
        white-space: pre;
        margin-right: 10px;
    }
    .dropdown__separator{
        margin: 0 5px 0 5px;
        height: 1px;
        width: 100%;
        background-color: white;
    }
    button{
        text-align: left;
        border: none;
        background-color: unset;
        height: $itemHeight;
        width: 100%;
        cursor: pointer;
        transition: .4s;
    }
    p{
        position: relative;
        z-index: -1;
        color: white;
        line-height: $itemHeight;
        font-size: 15px;
        font-weight: 700;
        padding: 0 10px 0 10px;
    } 
    i{
        position: absolute;
        right: 11px;
        top: 50%;
        margin-top: -7px;
        color: white;
    }
}

// .dropdown{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     width: 210px;
//     height: 50px;
    
//     p{
//         position: relative;
        
//         color: white;
//         font-size: 15px;
//         font-weight: 700;
//     } 

// }

// .dropdown__main-bt{
//     position: relative;
//     overflow: hidden;
//     border: none;
//     z-index: 5;
//     height: 100%;
//     width: 135px;
//     color: white;
//     padding: 5px;
//     border-radius: 10px;
//     background-color: $primaryColor;

//     i{
//         position: absolute;
//         right: 10px;
//         top: 20px;
//     }
//     p{
//         margin-right: 20px;
//     }
// }

// // &:hover{
// //     li:not(:first-child){
// //         // Anim buttons
// //         @include dropdownReveal(500ms, 0.08s);
// //         // p{
            
// //         // }
        
// //         &:nth-child(2n){
// //             // Anim separators
// //             @include separatorAnim(400ms, 0.08s);
// //         }
// //     }
// // }

// // li{
// //     display: flex;
// //     align-items: center;
// //     transition: all 1s;
// //     &:hover{
        // li:not(:first-child){
        //     // Anim buttons
        //     @include dropdownReveal(500ms, 0.08s);
        //     }
        //     &:nth-child(2n){
        //         // Anim separators
        //         @include separatorAnim(400ms, 0.08s);
        //     }
        // }
// // }