.dropdown{
    display: flex;
    flex-direction: column;
    font-family: DM Sans, sans-serif;
    width: 135px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: $primaryColor;

    button{
        position: relative;
        text-align: left;
        line-height: 50px;
        font-size: 15px;
        font-weight: 700;
        border: none;
        background-color: unset;
        color: white;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
    .dropdown__separator{
        margin: 0 5px 0 5px;
        height: 1px;
        background-color: white;
    }
    p{
        padding: 0 10px 0 10px;
       
    } 
    i{
        position: absolute;
        right: 11px;
        top: 50%;
        margin-top: -7px;
        color: white;
    }
}
