$itemHeight : 40px;

.dropdown{
    //itemHeightheight: $itemHeight;
    // overflow: hidden;
    height: 40px;
    width: 135px;
    color: white;
    padding: 5px;
    border-radius: 10px;
    background-color: $primaryColor;

    li{
        display: flex;
        align-items: center;
    }

    button{
        display: flex;
        align-items: center;
        position: relative;
        text-align: left;
        border: none;
        background-color: unset;
        height: $itemHeight;
        width: 100%;
        cursor: pointer;
    }
    .dropdown__separator{
        margin: 0 5px 0 5px;
        height: 1px;
        width: 100%;
        background-color: white;
    }
    p{
        font-family: DM Sans, sans-serif;
        color: white;
        line-height: 50px;
        font-size: 15px;
        font-weight: 700;
        padding: 0 10px 0 10px;
    } 
    i{
        position: absolute;
        right: 11px;
        top: 50%;
        margin-top: -7px;
        color: white;
    }
}
