$modal-items-margin: 50px;

@mixin modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.media-modal{
    @include modal;
    height: 80%;
    width: 80%;
    text-align: center;
    display: none;

    img, video
    {
        object-fit: contain;
        border-radius: 10px;
        max-height: calc(100% - 40px);
        max-width: 100%;
    }

    video{
        display: none;
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        //background: yellow;
        padding: 2px;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .media-modal__bt{
        position: absolute;
    }

    .media-modal__name{
        z-index: 101;
        bottom: 2%;
        left: 2%;
        font-size: clamp(20px,5vw, 2rem);
        width: inherit;
        font-weight: 500;
        text-align: initial;
        overflow-wrap: anywhere;
        color: $primaryColor;
    }

    button{
        //@include modal-buttons($primaryColor);
        border: none;
        z-index: 101;
        cursor: pointer;
        color: $primaryColor;
        background-color: unset;
    }

    #left-bt{
        left: 5px;
        top: 50%;
    }
    #right-bt{
        right: 5px;
        top: 50%;
    }

    #close-bt{
        cursor: pointer;
        right: 5px;
        top: 5px;
    }
    .fa-times{
        right: -$modal-items-margin;
        top: 0;
    }
}

.media-modal__bg{
    @include modal;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    display: none;
    background-color: white;
}