@import "../04_Composants/profil";

.medias-feed{
    display: flex;
    position: relative;
    font-family: DM Sans, sans-serif;
    flex-direction: column;
    max-width: 1700px;
    margin: 0 auto 0 auto;

    .media-feed__filter-area{
        position: absolute;
        top: 25px;
        display: flex;
        height: 50px;
        margin-left: 50px;
        flex-direction: row;
        max-width: $page-max-width;

        span{
            font-size: 15px;
            font-weight: 700;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    // .feed-wrapper{}

    h2{
        position: relative;
        margin-left: 40px;
        font-size: 15px;
        font-weight: 700;
        line-height: 70px;
        height: 70px;
        text-align: center;
    }
    .media-feed__medias-grid{
        display: grid;
        justify-content: center;
        gap: 50px 100px;
        margin-top: 100px;
        grid-template-areas:
        ". . . .";
        .media-card{
            display: flex;
            flex-direction: column;
        }
    }
}
