.medias-feed{
    //font-family: DM Sans, sans-serif;
    h2{
        position: relative;
        margin-left: 40px;
        font-size: 18px;
        font-weight: 700;
    }
    .dropdown{
        position: absolute;
        padding: 5px;
        left: 90px;
        top: -20px;
    }
}