$modal-items-margin: 50px;

@mixin modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.media-modal{
    @include modal;
    height: 80%;
    width: 80%;
    text-align: center;
    display: none;
    //background-color: aqua;
    //max-height: calc(100% - 100px);

    img, video
    {
        position: fixed;
        object-fit: contain;
        border-radius: 10px;
        max-height: 100%;
        max-width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .media-modal__bt{
        position: absolute;

    }

    .media-modal__name{
        z-index: 101;
        position: absolute;
        bottom: 2%;
        left: 2%;
        font-size: clamp(20px, 4vw, 45px); // min / current / max
        font-weight: 500;
        color: $primaryColor;
    }

    button{
        //@include modal-buttons($primaryColor);
        border: none;
        z-index: 101;
        cursor: pointer;
        color: $primaryColor;
        background-color: unset;
    }

    #left-bt{
        left: 5px;
        top: 50%;
    }
    #right-bt{
        right: 5px;
        top: 50%;
    }

    #close-bt{
        right: 5px;
        top: 5px;
    }

    // .fa-chevron-left{
    //     left: -$modal-items-margin;
    //     top: 50%;
    // }
    // .fa-chevron-right{
    //     right: -$modal-items-margin;
    //     top: 50%;
    // }
    .fa-times{
        right: -$modal-items-margin;
        top: 0;
    }
}

.media-modal__bg{
    @include modal;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    display: none;
    background-color: white;
}


// .media-modal{
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     // max-height: calc(100% - 100px);     // Prends au maximum 100% de hauteur avec un marge de 100px
//     width: 100%;
//     height: 100%;
//     z-index: 100;
//     //background-color: blue;

//     .media-modal__bg{
//         position: fixed;
//         width: 100%;
//         height: 100%;
//         opacity: 0.9;
//         background-color: white;
//     }

//     .media-modal__wrapper
//     {
//         color: #901C1C;
//         text-decoration: none;
//         position: inherit;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         z-index: 100;
//     }
//     img
//     {
//         object-fit: contain;
//         border-radius: 10px;
//         max-height: 80%;
//         max-width: 100%;
//     }
//
//     .media-modal__name{
//         margin: 10px 0 10px 0;
//         color: $primaryColor;
//         line-height: 30px;
//         align-self: flex-start;
//         font-size: 40px;
//         font-weight: 400;
//     }
// }