.photographers{
    //background-color: cadetblue;
    .photographers__list{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        max-width: 1500px;
        margin: auto;
        flex-wrap: wrap;
        .photographers__profil-preview{
            display: flex;
            flex-direction: column;
            transition: all .5s ease-out;
            align-items: center;
            margin: 0.5vw 3vw 0.5vw 3vw;
            width: 300px;
            height: 350px;
            font-family: DM Sans, sans-serif;
            //background-color: cornflowerblue;
        }
    }
}