@import "../04_Composants/buttons";

$picSize-preview : 175px;
$lineheight : 20px;
$page-max-width : 1750px;


.profil__pic{
    border-radius: 100%;
    flex-shrink: 0;
    height: $picSize-preview;
    width: $picSize-preview;
    box-shadow: 2px 8px 10px -1px rgb(0 0 0 / 10%);
    object-fit: cover;
}

.profil__name{
    margin: 20px 0 10px 0;
    text-align: center;
    white-space: nowrap;
    font-weight: 400;
    font-size: 36px;
    margin-top: 20px;
    color: $secondaryColor;
}

.profil__location{
    font-size: 13px;
    line-height: $lineheight;
    color: $primaryColor;
}

.profil__bio{
    font-size: 10px;
    line-height: $lineheight;
}

.profil__tjm{
    font-size: 9px;
    line-height: $lineheight;
    color: $darkGrey;
}

.profil__tags{
    @include keywords(12px);
    flex-wrap: nowrap;
    white-space: nowrap;
}

.profil__contact-bt{
    @include profil-bt;
    margin-left: 25px;
}

.profil-overview{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    // margin: 0 40px 0 40px;
    margin: 0 auto 0 auto;
    max-width: 1600px;
    padding: 40px;
    //height: 310px;
    background-color: $lightGray;

    &__title-wrapper{
        display: flex;
    }
    .profil__name{
        position: relative;
        margin: unset;
        font-size: 60px;
        text-align: unset;
    }
    .profil__location{
        font-size: 22px;
        line-height: 40px;
    }
    .profil__bio{
        font-size: 13px;
        line-height: 40px;
        color: $darkGrey;
    }
    .profil__tags{
        justify-content: left;
        margin: unset;
        span{
            margin: 0 5px 0 0;
        }
    }
    .profil__pic{
        position: absolute;
        right: 40px;
        top:50%;
        margin-top: -$picSize-preview/2;
    }
}