header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin: 0 4vw 0 4vw;
    font-family: 'DM Sans', sans-serif; //[TODO] Move to root
    color: $primaryColor;
    //background-color: cadetblue;
    .header__keywords-wrapper{
        align-self: end;
    }
    .header__logo{
        height: 50px;
    }
    .header__title{
        font-weight: 400;
        font-size: 36px;
        white-space: nowrap;
        justify-self: flex-end;
    }
    .header__keywords{
        display: flex;
        justify-content: center;
        line-height: 40px;
        margin: 0 4vw 0 4vw;
        flex-wrap: wrap;
        span{
            margin: 5px;
            padding: 5px 10px 5px 10px;
            line-height: 30px;
            font-size: 12px;
            border-radius: 20px;
            font-weight: 700;
            border: solid 2px $borderGray;
            background-color: white;
        }
    }
}