@import "../04_Composants/tags";

header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin: 0 40px 0 40px;
     //[TODO] Move to root
    color: $primaryColor;
    //background-color: cadetblue;
    .header__logo{
        height: 50px;
    }
    .header__title{
        font-weight: 400;
        font-size: 36px;
        white-space: nowrap;
        justify-self: flex-end;
    }
    .header__keywords{
        @include keywords();
    }
}